name: CI

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read
  checks: write
  id-token: write

env:
  XCODE_VERSION: "16.4"
  DEVICE: "iPhone 16 Pro"
  VERSION: ">=18.0"

jobs:
  pr-branch-check-name:
    name: "Check PR for semantic branch name"
    uses: mParticle/mparticle-workflows/.github/workflows/pr-branch-check-name.yml@stable
  pr-title-check:
    name: "Check PR for semantic title"
    uses: mParticle/mparticle-workflows/.github/workflows/pr-title-check.yml@stable

  test:
    name: Test
    timeout-minutes: 15
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ env.XCODE_VERSION }}

      - name: Setup specified simulator
        uses: futureware-tech/simulator-action@v4
        id: simulator
        with:
          model: ${{ env.DEVICE }}
          os: iOS
          os_version: ${{ env.VERSION }}
          erase_before_boot: true
          wait_for_boot: true
          shutdown_after_job: true

      - name: Run unit tests
        run: xcodebuild -project mParticle-Rokt.xcodeproj -scheme mParticle_RoktTests -destination 'id=${{ steps.simulator.outputs.UDID }}' test

  pr-notify:
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.draft == false
    needs:
      - test
    name: Notify GChat
    uses: ROKT/rokt-workflows/.github/workflows/oss_pr_opened_notification.yml@main
    secrets:
      gchat_webhook: ${{ secrets.GCHAT_PRS_WEBHOOK }}
